/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 400;
  font-size: 18px;
}

/* Фон субзаголовков */
.sub__title-decor {
  color: var(--subtitle-text-color, #000028);
  background-color: var(--subtitle-bg-color, #ff0070);
}

/* Основные cтили для ХЕДЕР */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 40px;
  padding: 10px;
  position: relative;
  align-items: center;
  height: 100vh;
}

/* Стили для контейнера кнопок в ХЕДЕР*/
.header__theme-menu {
  justify-items: end;
}

/* Позиционирование кнопок в ХЕДЕР*/
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Декоративный элемент в ХЕДЕР */
.header__decor::before {
  content: "REC";
  color: var(--accent-color, #db00ff);
  position: absolute;
  top: 11px;
  right: 38px;
}

/* Декоративный элемент в ХЕДЕР */
.header__decor::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #ff0070);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  top: 18px;
  right: 19px;
}

/* Декоративные уголки before */
.decorative-corners::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

/* Декоративные уголки after */
.decorative-corners::after {
  content: "";
  position: absolute;
  border-left: 1px solid var(--accent-color, #ff0070);
  border-bottom: 1px solid var(--accent-color, #ff0070);
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
}

/* Стили для кнопок в ХЕДЕР*/
.header__theme-menu-button {
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--button-text-color, #ff0070);
  padding: 3px 12px;
  cursor: pointer;
  border: 1px solid transparent;
}

/* Стили для активной кнопки в ХЕДЕР*/
.header__theme-menu-button_active {
  cursor: default;
  border-color: currentColor;
}

/* Стили при наведении мышки для кнопок в ХЕДЕР*/
.header__theme-menu-button:hover {
  outline: 1px solid var(--secondary-color, #ff007066);
}

/* Стили при клике мышки/клавиатуры для кнопок в ХЕДЕР*/
.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

/* Стили заголовка в ХЕДЕР */
.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 97px;
  color: var(--heading-text-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

/* Стили параграфа в ХЕДЕР */
.header__text {
  font-weight: 700;
  height: min-content;
  line-height: 130%;
}

/* Стили основного контента */
.main {
  padding: 0 10px;
}

/* Стили секций в основном контенте */
.main__section__title {
  font-size: 18px;
  line-height: 130%;
  color: var(--main-section-title-color, #ff0070);
}

/* Стили для контейнера карточек */
.section__container {
  display: grid;
  gap: 20px;
}

/* Стили секций 1 в основном контенте */
.main__section-focus {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

/* Стили секций 2 в основном контенте */
.main__section-concentrate {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

/* Стили секций 3 в основном контенте */
.main__section__concentrate-better {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

/* Стили для карточек в секциях */
.article {
  display: grid;
  gap: 10px;
}

/* Стили секций в основном контенте */
.section__article__subtitle {
  font-size: 18px;
  line-height: 130%;
}

/* Стили для параграфа в секциях */
.article__text {
  line-height: 130%;
  color: var(--text-color, #f1b2ce);
}

/* Стили для списка карточек в секциях */
.article__list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

/* Стили для суб-суб-заголовка в секции основного контента */
.text-decor {
  color: var(--subtitle-text-color, #000028);
  background-color: var(--subtitle-bg-color, #ff0070);
  font-weight: 400;
}

/* Стили для ссылок в основном контенте */
.section__article-text-link {
  text-shadow: 1px 1px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

/* Стили для ссылок в состоянии hover в основном контенте */
.section__article-text-link:hover {
  text-decoration: underline;
}

/* Стили для ссылок в состоянии focus/focus-visible в основном контенте */
.section__article-text-link:focus,
.section__article-text-link:focus-visible {
  outline: 1px solid var(--color-underlining-links);
}

/* Стили для секции изображений в основном контенте  */
.main__section-image {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

/* Стили для контейнера в основном контенте  */
.container__image {
  display: grid;
  gap: 10px;
}

/* Стили для изображений в основном контенте  */
.section__image {
  width: 100%;
  height: 100%;
}

.section__image img {
  object-fit: cover;
  object-position: center;
}

/* Стили ФУТЕР */
.footer {
  position: relative;
  display: grid;
  height: 100vh;
  place-items: center;
}

/* Стили для заголовка в ФУТЕР */
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95px;
  color: var(--footer-text-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .header__decor::before {
    top: 21px;
    right: 48px;
  }

  .header__decor::after {
    top: 28px;
    right: 29px;
  }

  .decorative-corners::before {
    top: 20px;
    right: 20px;
  }

  .decorative-corners::after {
    left: 20px;
    bottom: 20px;
  }

  .header {
    padding: 20px;
    margin-block-end: 60px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__text {
    max-width: 364px;
    align-items: end;
    display: flex;
    justify-self: end;
  }

  .main {
    padding: 0 20px;
  }

  .main__section__title {
    max-width: 236px;
  }

  .main__section-focus {
    grid-template-columns: 236px 1fr;
    gap: 20px;
    margin-block-end: 80px;
  }

  .main__section-concentrate {
    margin-block-end: 80px;
  }

  .main__section__concentrate-better {
    grid-template-columns: 236px 1fr;
    gap: 20px;
    margin-block-end: 79px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .main__section-image {
    gap: 19px;
    margin-block-end: 60px;
  }

  .container__image {
    grid-template-columns: (3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .section__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    margin-block-end: 60px;
  }
  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-self: self-start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 130px;
    margin-left: -20px;
  }

  .main__section__title {
    max-width: 315px;
  }

  .header__text {
    max-width: 491px;
  }

  .main__section-focus {
    grid-template-columns: 315px 1fr;
    gap: 20px;
    margin-block-end: 80px;
  }

  .main__section-concentrate .section__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
  .section__article__subtitle {
    height: min-content;
  }

  .main__section__concentrate-better {
    grid-template-columns: 315px 1fr;
    gap: 20px;
    margin-block-end: 80px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 130px;
  }
}
